@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Inter", sans-serif;
}

header {
    height: 160px;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo > img {
    width: 350px;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question > h2 {
    color: white;
    padding: 50px;
}

#answers {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
}

#answers > button {
    padding: 20px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    font-family: "Inter", sans-serif;
}

#bottom {
    height: 20vh;
    bottom: 0;
    margin: auto;
    color: #ffffff;
}


/* COUNTDOWN */
#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#countdownNumber {
    color: rgb(0, 204, 255);
    position: absolute;
}
  
svg {
    width: 160px;
    height: 160px;
    transform: rotateY(-180deg) rotateZ(-900deg);
}

svg circle {
    stroke-dasharray: 250px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 10;
    stroke: rgb(0, 204, 255);
    fill: none;
    animation: countdown 59s linear infinite forwards;
}
  
@keyframes countdown {
    from {stroke-dashoffset: 0%;}
    to {stroke-dashoffset: 100%;}
}