@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Inter", sans-serif;
}

header {
    padding: 50px 150px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
}

#logo > img {
    width: 350px;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 4;
}

#question > h2 {
    color: white;
    padding: 50px;
    font-size: 30px;
}

#answers {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
}

#answers > button {
    padding: 20px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    font-family: "Inter", sans-serif;
}

#bottom {
    flex: 1;
    display: flex;
    align-items: center;
    bottom: 0;
    margin: auto;
    color: #ffffff;
}


/* NEW COUNTDOWN */
@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 360deg;
  }
#counter{
    --a:360deg;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition:--a 0s linear;
    background: conic-gradient(#00ffff var(--a) ,#00ffff 0deg ,#585862d5 0deg,#585862d5 360deg);
    animation: animations 2s linear 1 forward;
}
#counter::before{
    position: absolute;
    content: "";
    width: 85%;
    height: 85%;
    background: black;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    color: #fac7c78f;
    transform: translate(-50%,-50%);
}

.text-counter{
    width: 70%;
    height: 100px;
   color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size:3em ;
    transform: translate(-50%,-50%);
}
span{
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
}

span.sec {
    font-size: 60px;
}

.centred {justify-content: center!important;}